cfgv==3.4.0
distlib==0.3.8
filelock==3.13.3
identify==2.5.35
mypy==1.9.0
mypy-extensions==1.0.0
nodeenv==1.8.0
platformdirs==4.2.0
pre-commit==3.7.0
PyYAML==6.0.1
typing_extensions==4.10.0
virtualenv==20.25.1

pip~=23.3.2
wheel~=0.42.0
requests~=2.31.0
setuptools~=69.0.3
numpy~=1.26.4
regex~=2023.12.25
fsspec~=2024.3.1
certifi~=2024.2.2
urllib3~=2.2.1
idna~=3.6
packaging~=24.0
tokenizers~=0.15.2
safetensors~=0.4.2
tqdm~=4.66.2
transformers~=4.39.2
gast~=0.5.4
h5py~=3.10.0
rich~=13.7.1
pygments~=2.17.2
keras~=3.1.1
optree~=0.11.0
tensorflow~=2.16.1
pandas~=2.2.2
namex~=0.0.7
mdurl~=0.1.2
pytz~=2024.1
six~=1.16.0
Markdown~=3.6
wrapt~=1.16.0
MarkupSafe~=2.1.5
werkzeug~=3.0.1
termcolor~=2.4.0
flatbuffers~=24.3.25
astunparse~=1.6.3
tensorboard~=2.16.2
click~=8.1.7
SQLAlchemy~=2.0.29
python-dotenv~=1.0.1